﻿@{
    Layout = null;

}
<form id="formCategory">
    <input type="hidden" name="UpdateBy" value="1" />
    <input type="hidden" name="Id" value="@Model" />
    <div class="card">
        <div class="card-header h4">@ViewBag.Title</div>
        <div class="card-body">
            <i class="fas fa-exclamation-circle text-danger h3 align-center-end"></i>
            <span>Do you really want to DELETE Category with Id @Model ?</span>
        </div>
        <div class="card-footer text-end">
            <button class="btn btn-danger" type="submit"><i class="fas fa-check"></i> &emsp; Submit</button>
            <button class="btn btn-secondary" aria-label="close" data-bs-dismiss="modal"><i class="fas fa-ban"></i> &emsp;Cancel</button>

        </div>

    </div>
</form>

<script>
    $("#formCategory").submit(function (e) {
        e.preventDefault();
        if ($("#formCategory").valid()) {
            $.ajax({
                url: "/Categories/Deleted",
                type: "Delete",
                data: $("#formCategory").serialize(),
                dataType: "json",
                beforeSend: function () {

                },
                success: function (response) {
                    console.log(response);
                    location.reload();
                },
                error: function (errResponse) {
                    console.log(response);
                    debugger;
                }
            });
        }

    });
</script>