﻿@using xposapi.DataModels;
@{
    ViewData["Title"] = "Category";
}

@model List<VMTblMCategory>?

<div class="card">
    <div class="card-body">
        <div class="row mb-3">
            <div class="col-12">
                <div class="d-flex justify-content-between">
                    <button id="btn_create" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#staticModalLg">Add data &nbsp;<i class="fas fa-folder-plus"></i></button>
                    <form>
                        <div class="input-group w-100">
                            <input type="text" name="filter" class="form-control" placeholder="search..." />
                            <div class="input-group-prepend">

                                <button type="submit" class="input-group-text" title="search">
                                    <i class="fas fa-search"></i>
                                </button>
                            </div>
                            <div class="input-group-prepend">
                                <a class="input-group-text" asp-action="Index" title="reset">
                                    <i class="fas fa-redo"></i>
                                </a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <table class="table table-striped mb-3">
            <thead>
                <tr>
                    <th>Id Category</th>
                    <th>Name Category</th>
                    <th>Description</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @if(Model != null)
                {
                    @foreach (VMTblMCategory item in Model)
                    {
                        <tr>
                            <td>@item.Id</td>
                            <td>@item.CategoryName</td>
                            <td>@item.Description</td>
                            <td>
                                <button style="color:beige" class="btn btn-warning btn_edit" data-id="@item.Id" data-bs-toggle="modal" data-bs-target="#staticModalLg">Edit &emsp;<i class="far fa-edit"></i></button>
                                <button style="color:beige" class="btn btn-secondary btn_detail" data-id="@item.Id" data-bs-toggle="modal" data-bs-target="#staticModalLg">Detail &emsp;<i class="fas fa-info-circle"></i></button>
                                <button style="color:beige" class="btn btn-danger btn_delete" data-id="@item.Id" data-bs-toggle="modal" data-bs-target="#staticModalLg">Delete &emsp; <i class="fas fa-trash"></i></button>
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>


<script>
    $("#btn_create").click(function (e) {
        $("#staticModalLgBody").load("/Categories/Create");
    });

    $(".btn_edit").click(function (e) {
        let catId = $(this).data("id");
        $("#staticModalLgBody").empty();
        $("#staticModalLgBody").load("/Categories/Update/" + catId);
    });

    $(".btn_detail").click(function(e) {
        let catId = $(this).data("id");
        $("#staticModalLgBody").empty();
        $("#staticModalLgBody").load("/Categories/Details/" + catId);
    });

    $(".btn_delete").click(function (e) {
        let catId = $(this).data("id");
        $("#staticModalLgBody").empty();
        $("#staticModalLgBody").load("/Categories/Delete/" + catId);
    });
</script>

