﻿@using xposapi.DataModels;

@{
    Layout = null;
}

@model VMTblMCategory


<form id="frmUpCategory">
    <input type="hidden" name="UpdateBy" value="1" />
    <input type="hidden" name="Id" value="@Model.Id" />
    <div class="card">
        <div class="card-header h4">@ViewBag.Title</div>
        <div class="card-body">
            <div class="input-group mb-3">
                <label class="input-group-text col-3">Name</label>
                <input type="text" name="CategoryName" value="@Model.CategoryName" class="form-control col-9" placeholder="Category Name...." required />
            </div>
            <div class="input-group">
                <label class="input-group-text col-3">Description</label>
                <textarea name="Description" value="@Model.Description" class="form-control col-9" aria-label="With textarea" placeholder="Description..."></textarea>
            </div>
        </div>
        <div class="card-footer text-end">
            <button class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button class="btn btn-success" type="submit">Submit &nbsp;<i class="fas fa-save"></i></button>
        </div>
    </div>
</form>

<script>
    $("#frmUpCategory").validate({
        errorClass: "text-danger col-12",
        rules: {
            CategoryName: {
                "required": true,
                "minlength": 3
            },
            Description: "required"
        }
    });

    $("#frmUpCategory").submit(function (e) {

        //Disable form submit
        e.preventDefault();

        if ($("#frmUpCategory").valid()) {
            $.ajax({
                url: "/Categories/Updated",
                type: "put",
                data: $("#frmUpCategory").serialize(),
                dataType: "json",
                beforeSend: function () {
                    //doing something before sending data
                },
                success: function (response) {
                    location.reload();
                    console.log(response);
                },
                error: function (errResponse) {
                    debugger;
                    console.error(response);
                }
            });
        }
    });

</script>
