﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="modal" tabindex="-1" id="staticModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" id="staticModalHeader">
                <h5 class="modal-title">Modal title</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" id="staticModalBody">
                <p>Modal body text goes here.</p>
            </div>
@*             <div class="modal-footer" id="staticModalFooter">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div> *@
        </div>
    </div>
</div>

<div class="modal" tabindex="-1" id="staticModalLg">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header" id="staticModalLgHeader">
                <h5 class="modal-title">Modal title</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" id="staticModalLgBody">
                <p>Modal body text goes here.</p>
            </div>
@*             <div class="modal-footer" id="staticModalLgFooter">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div> *@
        </div>
    </div>
</div>