﻿@using xposapi.DataModels;

@{
    Layout = null;
}
@model VMTblMVariant?

<div class="card">
    <div class="card-header h4">@ViewBag.Title</div>
    <div class="card-body">
        @if (Model != null)
        {
            <div class="row">
                <div class="col-2"><label>Variant : </label></div>
                <div class="col-10">@Model.Name</div>
            </div>

            <div class="row">
                <div class="col-2"><label>Category : </label></div>
                <div class="col-10">@Model.CategoryName</div>
            </div>

            <div class="row">
                <div class="col-2"><label>CreateBy : </label></div>
                <div class="col-4">@Model.CreateBy</div>
                <div class="col-2"><label>UpdateBy : </label></div>
                <div class="col-4">@Model.UpdateBy</div>
            </div>

            <div class="row">
                <div class="col-2"><label>CreateDate : </label></div>
                <div class="col-4">@Model.CreateDate</div>
                <div class="col-2"><label>UpdateDate : </label></div>
                <div class="col-4">@Model.UpdateDate</div>
            </div>
        }
        else
        {
            <div class="row text-center text-danger">=== Variant doesnt exist ===</div>
        }
    </div>
</div>