﻿@using xposapi.DataModels;

@{
    Layout = null;
    @model VMTblMCategory?
 
}
<form id="frmNewVariant">
    <input type="hidden" name="CreateBy" value="@Model.Id" />
    <div class="card">
        <div class="card-header h4">@ViewBag.Title</div>
        <div class="card-body">
            <div class="input-group mb-3">
                <label class="input-group-text col-3">Name</label>
                <input type="text" name="Name" class="form-control col-9" placeholder="Variant Name...." required />
            </div>
            <div class="input-group">
                <label class="input-group-text col-3">Description</label>
                <textarea name="Description" class="form-control col-9" aria-label="With textarea" placeholder="Description..."></textarea>
            </div>

            <div class="input-group">
                <label class="input-group-text col-3">Select Category</label>
                <select name="CategoryId" class="form-select">
                    <option value="">== Please select a Category ===></option>
                    @if (ViewBag.CatData != null)
                    {
                        foreach (VMTblMCategory category in ViewBag.CatData)
                        {
                            <option value="@category.Id">@category.CategoryName</option>
                        }
                    }
                </select>

            </div>


        </div>
        <div class="card-footer text-end">
            <button class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button class="btn btn-primary" type="submit">Submit &nbsp;<i class="fas fa-save"></i></button>
        </div>
    </div>
</form>

<script>
    $("#frmNewVariant").validate({
        errorClass: "text-danger col-12",
        rules: {
            Name: {
                "required": true,
                "minlength": 3
            },
            CategoryId: "required"
        }
    });

    $("#frmNewVariant").submit(function (e) {

        //Disable form submit
        e.preventDefault();

        if ($("#frmNewVariant").valid()) {
            $.ajax({
                url: "/Variants/Add",
                type: "post",
                data: $("#frmNewVariant").serialize(),
                dataType: "json",
                beforeSend: function () {
                    //doing something before sending data
                },
                success: function (response) {
                    location.reload();
                    console.log(response);
                },
                error: function (errResponse) {
                    debugger;
                    console.error(response);
                }
            });
        }
    });

</script>
