﻿@using xposapi.DataModels;

@{
    Layout = null;
}
@model VMTblMProduct?
<form id="frmNewProduct">
    <input type="hidden" name="CreateBy" value="1" />
    <div class="card">
        <div class="card-header h4">@ViewBag.Title</div>
        <div class="card-body">
            <div class="input-group mb-3">
                <label class="input-group-text col-3">Name</label>
                <input type="text" name="ProductName" class="form-control col-9" placeholder="Product Name...." required />
            </div>
            <div class="input-group mb-3">
                <label class="input-group-text col-3">Price</label>
                <input type="number" name="Price" class="form-control col-9" placeholder="Product Price...." required />
            </div>
            <div class="input-group mb-3">
                <label class="input-group-text col-3">Stock</label>
                <input type="number" name="Stock" class="form-control col-9" placeholder="Product Stock...." required />
            </div>

            <div class="input-group">
                <label class="input-group-text col-3">Category Name</label>
                <select type="number" name="CategoryId" id="categoryId" class="form-control col-9" asp-items=" ViewBag.catData">
                    <option value="">--Please Select Category--</option>
                </select>
            </div>
            <div class="input-group">
                <label class="input-group-text col-3">Variant Name</label>
                <select type="number" name="VariantId" id="variantId" class="form-control col-9">
                    <option value="">--Please Select Variant--</option>
                </select>
            </div>

            <div class="input-group mb-3">
                <label class="input-group-text col-3">Image</label>
                <input type="file" name="ImageFile" class="form-control col-9" accept="image/*" required />
            </div>


        </div>
        <div class="card-footer text-end">
            <button class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button class="btn btn-primary" type="submit">Submit &nbsp;<i class="fas fa-save"></i></button>
        </div>
    </div>
</form>

<script>

    $(document).ready(function(e){
        let optVariant = `<option values="">--Please select a variant ---</option>
            @if(ViewBag.varData != null)
            {
                foreach(VMTblMVariant variant in ViewBag.varData)
                {
                    <option value="@variant.Id" data-categoryid="@variant.CategoryId">@variant.Name</option>
                }
            }`;



        $("#frmNewProduct").validate({
            errorClass: "text-danger col-12",
            rules: {
                ProductName: {
                    "required": true,
                    "minlength": 3
                },
                Price: {
                    "required": true,
                    "digits" : true
                },
                Stock: {
                    "required": true,
                    "digits": true
                },
                CategoryId: "required",
                VariantId: "required"
            }
        });

        $("#frmNewProduct").submit(function (e) {

            //Disable form submit
            e.preventDefault();

            if ($("#frmNewProduct").valid()) {
                $.ajax({
                    url: "/Products/Add",
                    type: "post",
                    data: new FormData($("#frmNewProduct")[0]),
                    processData: false,
                    contentType: false,
                    beforeSend: function () {
                        //doing something before sending data
                    },
                    success: function (response) {
                        location.reload();
                        console.log(response);
                    },
                    error: function (errResponse) {
                        debugger;
                        console.error(response);
                    }
                });
            }
        });

        $("#categoryId").change(function (e) {
            let catId = $(this).val();


            $("#variantId").empty().append(optVariant);
            debugger;
            $("#variantId option").hide().filter(function () {
                return $(this).data("categoryid") == catId
            }).show();

        });

    });


</script>
