﻿@using xposapi.DataModels;
@{
    ViewData["Title"] = "Product";
}

@model Pagination<VMTblMProduct>
<div class="card">
    <div class="card-body">
        <div class="row mb-3">
            <div class="col-12">
                <div class="d-flex justify-content-between">
                    <button id="btn_create" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#staticModal">Add data &nbsp;<i class="fas fa-plus"></i></button>
                    <form asp-action="Index">
                        <div>
                            <span>Show Entries:</span>
                            <select id="selPageSize" name="PageSize">
                                @for(int i=5; i<20; i+= 5)
                                {
                                    if(ViewBag.PageSize == i)
                                    {
                                        <option value="@i" selected>@i</option>
                                    }
                                    else
                                    {
                                        <option value="@i">@i</option>
                                    }
                                }
                            </select>
                        </div>
                        <div class="input-group w-100">
                            <input type="text" name="searchString" value="@ViewBag.CurrentFilter" class="form-control" placeholder="search..." />
                            <div class="input-group-prepend">
                                <button type="submit" class="input-group-text" title="search">
                                    <i class="fas fa-search"></i>
                                </button>
                            </div>
                            <div class="input-group-prepend">
                                <a class="input-group-text" asp-action="Index" title="reset">
                                    <i class="fas fa-redo"></i>
                                </a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <table class="table table-striped mb-3">
            <thead>
                <tr>
                    <th>
                        <a asp-controller="Products" asp-action="Index" asp-route-filter="@ViewBag.Filter"
                           asp-route-orderBy="@ViewBag.OrderId">ID</a>
                    </th>
                    <th>Image</th>
                    <th>
                        <a asp-controller="Products" asp-action="Index" asp-route-filter="@ViewBag.Filter"
                           asp-route-orderBy="@ViewBag.OrderName">Product Name</a>
                    </th>
                    <th>
                        <a asp-controller="Products" asp-action="Index" asp-route-filter="@ViewBag.Filter"
                           asp-route-orderBy="@ViewBag.OrderVariantName">Variant Name</a>
                    </th>
                    <th>
                        <a asp-controller="Products" asp-action="Index" asp-route-filter="@ViewBag.Filter"
                           asp-route-orderBy="@ViewBag.OrderPrice">Price</a>
                    </th>
                    <th>
                        <a asp-controller="Products" asp-action="Index" asp-route-filter="@ViewBag.Filter"
                           asp-route-orderBy="@ViewBag.OrderStock">Stock</a>
                    </th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @if (Model != null)
                {
                    @foreach (VMTblMProduct item in Model)
                    {
                        <tr>
                            <td>@item.Id</td>
                            <td><img src="~/images/@item.Image" class="rounded-circle" height="50" width="50"></td>
@*                             <td><img src="~/@ViewBag.ImgFolder/@item.Image" class="rounded img-fluid" style="height:3rem; object-fit:contain"></td>
 *@                         
                            <td>@item.ProductName</td>
                            <td>@item.VariantName</td>
                            <td>@item.Price</td>
                            <td>@item.Stock</td>
                            <td>
                                <button style="color:beige" class="btn btn-warning btn_edit" data-id="@item.Id" data-bs-toggle="modal" data-bs-target="#staticModal">Edit &emsp;<i class="far fa-edit"></i></button>
                                <button style="color:beige" class="btn btn-secondary btn_detail" data-id="@item.Id" data-bs-toggle="modal" data-bs-target="#staticModalLg">Detail &emsp;<i class="fas fa-info-circle"></i></button>
                                <button style="color:beige" class="btn btn-danger btn_delete" data-id="@item.Id" data-bs-toggle="modal" data-bs-target="#staticModal">Delete &emsp; <i class="fas fa-eraser"></i></button>
                            </td>
                        </tr>
                    }
                }
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="8">
                        <div class="input-group w-25 mx-auto">
                            <a class="btn btn-secondary" title="Previous page..." asp-controller="Products" asp-action="Index" asp-route-filter="@ViewBag.Filter" asp-route-orderBy="@ViewBag.OrderId" 
                            asp-route-pageNumber="@(Model.HasPreviousPage ? Model.PageIndex - 1 : Model.PageIndex)"><i class="fas fa-backward"></i></a>

                            <div class="input-group-text">@Model.PageIndex of @Model.TotalPages</div>

                            <a class="btn btn-secondary" title="Next page..." asp-controller="Products" asp-action="Index" asp-route-filter="@ViewBag.Filter" asp-route-orderBy="@ViewBag.OrderId"
                               asp-route-pageNumber="@(Model.HasNextPage ? Model.PageIndex + 1 : Model.PageIndex)"><i class="fas fa-forward"></i></a>
                        </div>

                    </td>
                </tr>
            </tfoot>
        </table>
    </div>
</div>


<script>
    $("#btn_create").click(function (e) {
        $("#staticModalBody").load("/Products/Create");
    });


    $(".btn_detail").click(function (e) {
        let catId = $(this).data("id");
        $("#staticModalLgBody").load("/Products/Details/" + catId);
    });
</script>

